*{
	padding:0;
	margin:0;
}
.cont{
	width: 100%;
	height: 350px;
}
.cont_inner{
	width: 100%;
	height: 350px;
	margin:0 auto;
}
.cont_inner img{
	width: 100%;
	height: 350px;
}
/*middle*/
#box{
	width: 100%;
	margin:0 auto;
}
 span{
 	width: 10%;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 10px;
    background: #fafafa;
    margin-left: -1%;
 }
 .yiyang{
 	width:80%;
 	height: 150px;
 	margin:0 auto;
 }
.yiyang div{
	width:80%;
	height: 120px;
	/*background-color: red;*/
	display: none;

}
 .yiyang div.active{
 	display: block;
 }
 .select{
 	color: lightsalmon;
 }
.one{
	width: 80%;
	margin: 3px 20%;
}
.one em{
	display: block;
    width: 80%;
    /* height: 100px; */
    font-style: normal;
    font-size: 15px;
    margin-top: 37px;
    color:gray;
    margin-left: 10%;
    /* text-align: center; */
    /* line-height: 100px; */
}
.one img{
	width: 80%;
    height: 400px;
    margin: 35px 10%;
}
.one .xiao{
	display: block;
	width: 80%;
	height: 100px;
	font-style:normal;
	margin:0 auto;
	background: #fafafa;
	text-align: center;
	line-height: 100px;
	font-weight:bold;
}
/*-----*/
.two{
	width: 80%;
	display: block;
	margin: 0 auto;
}
.two .kuai{
	width: 100%;
	height: 900px;
	margin: 55px 13%;
	/*background: pink;*/
	
	
}
.two ul li{
	width: 100%;
	height: 150px;
	list-style:none;
	/*border:1px solid #ccc;*/
	background: #fafafa;
	margin-top:10px;
	/*background: #F5F5F5;*/	
}
.two ul li label{
	display: block;
	width: 50%;
	height: 100%;
	float:left;
}
.two ul li label strong{
	font-size:25px;
	color:deepskyblue;
	margin-left:32px;
}
.two ul li label i{
	font-style:normal;
	font-size:13px;
	margin-left:35px;
}
.two ul li img{
	width: 22%;
    height: 85%;
    margin-top: 11px;
    float: right;
}


/*three*/
.three{
	width: 80%;
	margin:0 auto;
}
.three li{
    width: 100%;
    height: 300px;
    background: #F2F2F2;
    list-style: none;
    margin-top: 13px;
    margin-left: 15%;
    position: relative;
}
.three li img{
	width: 40%;
    height: 299px;
    float: left;
}
.three li h1{
	float: left;
    font-size: 21px;
    margin-left: 7%;
    margin-top: 50px;
}
.three li h3{
    margin-top: 2px;
    font-size: 13px;
    /* margin-left: 14%; */
    position: absolute;
    left: 47%;
    top: 106px;
}
/*fore*/
.fore{
	width: 80%;
	background: #F2F2F2;
	margin:0 23%;
}
.fore li{
	width: 20%;
    list-style: none;
    background: white;
    display: inline;
    float: left;
    margin-top: 61px;
    margin-left: 5%;
}
.fore li img{
	width: 70%;
    height: 165px;
}
.fore li u{
	font-size:11px;
	text-decoration: none;
}
 


