*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    overflow-x: hidden;
    display: block;
}
.ejbanner{
	width: 100%;
	height: 400px;
	background: url(../img/contact/bj.jpg) center center / cover no-repeat;
	/*background-size: 100% 100%;*/
    display: block;
}
.ejnav{
	height: 88px;
    padding-top: 3px;
    background: #fafafa;
}
.ejnav nav{
	width: 76%;
	height: 100%;
	margin: 0 auto;
}
.ejnav nav ul{
	width: 1124px;
	height: 100%;
	margin: 0 auto;
}
.ejnav nav ul li{
	list-style: none;
	width: auto;
	height: 100%;
	float: left;
}
.ejnav nav ul li a{
	display: block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 82px;
    border-bottom: solid 3px #fafafa;
    color: #616161;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}
.ejnav nav ul li a:hover{
	border-bottom: solid 3px #f39700;
    color: #f39700;
}
.ejnav nav ul li a.cur{
	border-bottom: solid 3px #f39700;
    color: #f39700;
}
.main{
	width: 100%;
	padding: 45px 0;
}
.main .content{
	margin: 0 auto;
	width: 76%;
}
.main .content .map1{
	width: 928px;
}
.main .content .map1 img{
	display: block;
	vertical-align: middle;
}
.main .content .map3{
	position: absolute;
	right: 120px;
    bottom: 45px;
    color: #000;
    font-size: 16px;
    line-height: 36px;
}
