@media(max-width:599px){
	.header .header_right{
		display:none;
	}
	.header_li_img{
		display:none;
	}
	.header_left li:last-child{
		display:none;
	}
	.header .header_left li{
		width:16%;
	}
	.header .header_img{
		width: 23%;
    	height: 12%;
    	margin-left: 37%;
	}
	.header_show{
		width:65%;
		height: 69%;
	}
	.header_show .header_sou .search{
		display:block;
	}
	.header_show .header_sou .search {
		display: block;
	}
	.top .top_names{
		width:100%;
	}
	.top .top_names p{
		font-size:13px;
	}
	.column{
		height:1025px;
	}
	.column .column_ul li{
		width:100%;
		margin-top:10%;
	}
	.banner{
		padding-bottom: 407px;
		width:100%;
		margin-left:0px;
	}
	.banner .banner_con .banner_main p{
		width:118%;
	}
	.banner .banner_imgs{
		width:150px;
		height:150px;
		left:9px;
		top:-88px;
	}
	.banner .banner_imgs img{
		width:100%;
		height:100%;
	}
	.banner .banner_con .banner_ul{
		display: none;
	}
	.banner .banner_con .banner_main{
		float:none;
	}
	.banner .banner_con .banner_right{
		display: none;
	}
	.banner .banner_con .banner_main{
		margin-left:-78px;
		margin-top:100px;
		width:100%;
	}
	.banner .banner_con{
		padding-bottom: 70px;
	}
	.banner .banner_con{
		width:69%;
	}
	.container .container_main{
		display: none;
	}
	.container{
		padding-bottom: 1%;
		padding-top:630px;
	}
	.main{
		height: 600px;
	}
	.main .main_ul li{
		float:none;
		width:100%;
		margin-top:50px;
	}
	.main .main_ul li .main_left{
		width:100%;
		margin:0 auto;
	}
	.main .main_ul li .main_left img{
		margin-left:16%;
	}
	.main .main_ul li .main_right{
		float:none;
		width:100%;
		text-align:center;
		margin:20px auto;
	}
	.footer .foot .foot_cont .foot_ul li {
		width: 50%;
		margin-top: 10px;
	}
	.footer .foot .foot-right {
		float: none;
		width:82%;
		margin-top: 144%;
		margin-left: 20px;
	}
	.footer .foot {
		height: 900px;
		width: 95%;
		/*margin:0 auto;*/
	}
	.footer {
		height: 1030px;
	}
	.footer .foot {
		left: 2.5%;
		top: 10%;
	}
	.footer .foot .foot_cont .foot_ul {
		top: 3%;
		width: 95%;
		/*margin:0 auto;*/
	}
	.footer .foot .foot_bottom {
		margin-top: 5%;
	}
}
