@media(min-width:600px) and (max-width:1000px){
	.header .header_right{
		display:none;
	}
	.header_li_img{
		display:none;
	}
	.header_left li:last-child{
		display:none;
	}
	.header_show .header_sou .search {
		display: block;
	}
	.banner .banner_con .banner_right{
		display:none;
	}
	.container .container_main{
		display: none;
	}
	.main .main_ul li .main_left{
		height:94px;
	}
	.main .main_ul li .main_left img{
		width:100%;
		height:100%;
	}
	.banner{
		margin-right:0;
	}
	.footer{
		height:725px;
	}
	.footer .foot{
		top:14%;
		width:95%;
		left:2.5%;
		height:600px;
	}
	.footer .foot .foot-right{
		float:none;
		margin-top:32%;
		margin-left:3%;
	}
	.footer .foot .foot_cont .foot_ul{
		width:95%;
		top:8%;
	}
	.footer .foot .foot_bottom{
		margin-top:6%;
	}
}
