@m: 0;
@p: 0;
* {
    margin: 0;
    padding: @p;
}

@w100: 100%;
@h120: 100px;
@bgd: #ffb700;
#logo {
    width: @w100;
    height: @h120;
    background: @bgd;
}

#content {
    width: @w100;
}

#content img {
    widows: @w100;
}